body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    font-size: 1.5vw;
}

#logo {
    margin: 0px;
    padding: 10px;
    font-family: "Fredoka One", sans-serif;
    box-shadow: 8px 8px 10px 3px darkblue;
    width: 17%;
    text-shadow:
    1px 1px 0px black,
    /* Bottom-right shadow */
    -1px 1px 0px black,
    /* Bottom-left shadow */
    1px -1px 0px black,
    /* Top-right shadow */
    -1px -1px 0px black; /* Top-left shadow */
}

ul {
    margin: 0px;
}

body > header{
    background-color: rgb(127, 189, 255);
    color: white;
}

body > header > nav > ul{
    list-style: none;
    text-decoration: none;
}

.navbutton{
    color: white;
    text-decoration: none;
}

body > main > article {
    width: 70%;
    margin: auto;
}

form {
    text-align: center;
}

h2 {
    text-align: center;
}

body > footer {
    background-color: rgb(127, 189, 255);
}

img {
    border-radius: 50%;
}